* {
	margin: 0;
	padding: 0;
}

body {
	background: #2b2b2b;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
}

section {
	width: 100%;
}

.line {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hex {
	width: 100px;
	position: relative;
	height: 85px;
	background-color: #3d3d3d;
	margin: 16px 2px;
}

.hex::before {
	content: '';
	position: absolute;
	width: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	top: 100%;
	border-top: 28px solid #3d3d3d;
}

.hex::after {
	content: '';
	position: absolute;
	width: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	bottom: 100%;
	border-bottom: 28px solid #3d3d3d;
}

.moved {
	margin-left: 105px;
}

.light {
	background-color: #3fff3c;
	animation: colorBG 1s infinite;
}

.light:before {
	border-top: 28px solid #3fff3c;
}

.light:after {
	border-bottom: 28px solid #3fff3c;
}

@keyframes colorBG {
	0%{
		filter: hue-rotate(0deg);
	}
	100%{
		filter: hue-rotate(270deg);
	}
}